@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  --color-background: 223 238 250;
  --color-paper: 193 220 245;
  --color-text-primary: 14 29 77;
  --color-text-secondary: 76, 110, 162;

  --color-primary: 240 108 155;
  --color-secondary: 240 108 155;
}

#app.dark {
  --color-background: 14 29 77;
  --color-paper: 24 43 93;
  --color-text-primary: 223 238 250;
  --color-text-secondary: 76 110 162;

  --color-primary: 240 108 155;
  --color-secondary: 240 108 155;
}

#app {
  @apply bg-background text-skin-primary;
}

* {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
  @apply text-primary;
}

a:hover {
  @apply underline;
}
